/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .jumbotron {
    margin-top: 20px;
  }
}

.inputselect.btn.btn-danger div a {
    color:#ccc;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
    text-align: center;
}

.add-on.captcha-img {
    height:25px!important;
    padding:2px 5px 1px!important;
}
