body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.inputselect.btn.btn-danger div a {
    color:#ccc;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
    text-align: center;
}