<table class="table">
    <thead>
        <tr> 
            <th class="title" align="center"><a class="titlelink" href="index.php?site=articles&amp;page=$page&amp;sort=date">%date%:</a></th>
            <th class="title" align="center" width="100%">%title%:</th>
            <th class="title" align="center"><a class="titlelink" href="index.php?site=articles&amp;page=$page&amp;sort=poster">%author%:</a></th>
            <th class="title" align="center"><a class="titlelink" href="index.php?site=articles&amp;page=$page&amp;sort=rating">%rating%:</a></th>
            <th class="title" align="center"><a class="titlelink" href="index.php?site=articles&amp;page=$page&amp;sort=viewed">%viewed%:</a></th>
        </tr>
    </thead>
    <tbody>