<article class="row-fluid">     
        <div class="row-fluid">
            <div class="span10">
                <h3>$title</h3>
            </div>
            <small class="span2">$date</small>
        </div>
        
        <div class="row-fluid">
            
            <div>      
            <p>$content $adminaction</p>
        </div>
            
    </div>
        
    <aside class="row-fluid">
        <p></p>
        <p class="span12">$rateform</p>
        <p class="span12">
          <i class="icon-user"></i> by $poster
          | <i class="icon-calendar"></i> $date
          | <i class="icon-link"></i> $related
          | %rating% $ratingpic
        </p>
    </aside>
</article>