<article class="row">
    <div class="span6">
        
        <div class="row">
            <div class="span5">
                <h3><small>$isintern</small> <a href="index.php?site=news_comments&newsID=$newsID">$headline</a></h3>
            </div>
            <a href="index.php?site=news&show=$rubrikname" class="span1"><small>$rubrikname</small></a>
        </div>
        
        <div class="row">
            
            <div class="span2">
                <div class="thumbnail">$rubricpic</div>
            </div>
            
            <div class="span4">      
            <p>$content<br>$adminaction</p>
        </div>
            
    </div>
        
    <div class="row">
      <div class="span6">
        <p></p>
        <p>
          <i class="icon-user"></i> by $poster
          | <i class="icon-calendar"></i> $date
          | <i class="icon-comment"></i> $comments
        </p>
      </div>
    </div>
      
</div>
</article>
<hr>